<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon.ico/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon.ico/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon.ico/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon.ico/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon.ico/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon.ico/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon.ico/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon.ico/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon.ico/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicon.ico/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon.ico/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon.ico/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.ico/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicon.ico/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'images/favicon.ico/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
        <!-- end favicon -->
    
        <title>Browse | Sneaker Shop</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    
        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- end Bootstrap -->
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        AIR JORDAN
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for air_jordan in air_jordans %}
                            <a class="dropdown-item" href="/browse/{{air_jordan.id}}">{{air_jordan.model}}</a>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/browse/air jordan">Browse Air Jordan</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        NIKE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for nike in nikes %}
                            <a class="dropdown-item" href="/browse/{{nike.id}}">{{nike.model}}</a>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/browse/nike">Browse Nike</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ADIDAS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for adidas in adidases %}
                            <a class="dropdown-item" href="/browse/{{adidas.id}}">{{adidas.model}}</a>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/browse/adidas">Browse Adidas</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a href="/browse" class="nav-link">BROWSE ALL</a>
                    </li>
                </ul>
                    
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="/admin">Visit the Admin Site</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Cart <img src="{% static 'images/cart.png' %}" height="15vh" alt=""></a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main">
            <div class="container">
                <div class="row justify-content-center">
                    <h2 class="text-center">Browse {{category}}</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- filter column -->
                    <div class="col-lg-3 col-md-3">
                        <div class="container">
                            <div class="row">
                                <h5 class="text-secondary">Filter</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <article class="filter-group">
                                            <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside1" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                                                    <h6 class="title">Brand</h6>
                                                </a> </header>
                                            <div class="filter-content collapse" id="collapse_aside1">
                                                <div class="card-body">
                                                    <ul class="list-menu">
                                                        {% for brand in all_brands %}
                                                        <li><a href='/browse/{{brand.name.lower}}' class="text-secondary" data-abc="true">{{brand.name}}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="filter-group">
                                            <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside2" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                                                    <h6 class="title">Model</h6>
                                                </a> </header>
                                            <div class="filter-content collapse" id="collapse_aside2">
                                                <div class="card-body">
                                                    <ul class="list-menu">
                                                        {% for model in all_models %}
                                                        <li><a href="/browse/{{model.id}}" class="text-secondary" data-abc="true">{{model.model}}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="filter-group">
                                            <header class="card-header">
                                                <a href="#" data-toggle="collapse" data-target="#collapse_aside3" data-abc="true" aria-expanded="false" class="collapsed">
                                                    <i class="icon-control fa fa-chevron-down"></i>
                                                    <h6 class="title">Price </h6>
                                                </a>
                                            </header>
                                            <div class="filter-content collapse" id="collapse_aside3" style="">
                                                <div class="card-body">
                                                    <form>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label>Min</label>
                                                                <input class="form-control" placeholder="$" name="min" min="0" type="number" value={{min_price}}>
                                                            </div>
                                                            <div class="form-group text-right col-md-6">       
                                                                <label>Max</label>
                                                                <input class="form-control" placeholder="$" name="max" min="0" type="number" value={{max_price}}>
                                                            </div>
                                                        </div>
                                                        <button href="#" class="highlight-button btn btn-medium button xs-margin-bottom-five" data-abc="true">Apply Now</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </article>
                                        <!-- <article class="filter-group">
                                            <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside4" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                                                    <h6 class="title">Size </h6>
                                                </a> </header>
                                            <div class="filter-content collapse" id="collapse_aside4" style="">
                                                <div class="card-body">
                                                    {% for size in sizes %}
                                                    <label class="checkbox-btn">
                                                        <input type="checkbox">
                                                        <span class="btn btn-light"> {{size}} </span>
                                                    </label>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </article> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end filter column -->

                    <!-- product grid column -->
                    <div class="col-lg-9 col-md-9">
                        <div class="row wow fadeIn">
                            {% for shoe in shoes %}
                            <div class="col-lg-3 col-md-6 mb-5">
                                <div class="card h-100">
                                    <a href="/shoe/{{shoe.id}}">
                                        <img src="{{shoe.image.url}}" alt="" width="100%">
                                    </a>
                                    <div class="card-body text-center">
                                        <a href="/shoe/{{shoe.id}}" class="text-secondary">
                                            <h6>{{shoe.model.brand.name}}</h6>
                                        </a>
                                        <h5>
                                            <strong>
                                                <a href="/shoe/{{shoe.id}}" class="text-dark">{{shoe.model.model}}</a>
                                            </strong>
                                        </h5>
                                        <h6 class="text-secondary">{{shoe.color}}</h6>
                        
                                        <h5 class="font-weight-bold">
                                            ${{shoe.model.price}}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <!-- end product grid column -->

                </div>
            </div>
            
        </main>

    </body>
</html>